body{
    margin: 0;
}
.nav{
    margin: 0;
    width: 100%;
    padding: 0 5%;
    padding-top: 15px;
    display: flex;
    justify-content: left;
    background-color: brown;
}
.logo{
    width: 10%;
    height: 8vh;
}
.logo img{
    width: 100%;
    height: 100%;
}
.logo img{
    width: 100%;
    height: 100%;
}
.nav_list{
    display: flex;
    justify-content: space-evenly !important;
    margin-top: 5px;
    margin-bottom: 0;
}
ul{
    list-style: none;
}
.list{
    margin-top: 0;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width:700px) {
    .list{
        display: none;
    }
}
.list li a{
    color: white;
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
    padding: 10px;
}
.added_list{
    margin-left: -38px;
}
.added_list li{
    padding: 0 10px;
}
.added_list li a{
    font-size: 15px;
    color: rgb(194, 193, 193);
    text-decoration: none;
}
.iconList{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media screen and (max-width:700px) {
    .iconList{
        display: none;
    }
    .burger_menu{
        display: block;
        font-size: 20px;
        color: white;
    }
    .nav{
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;
    }
    .logo{
        width: 8%;
        height: 5vh;
    }
    .logo img{
        width: 100%;
        height: 100%;
    }
}
.iconList li{
    padding: 0 10px;
}
.iconList li a{
    font-size: 25px;
    color: brown;
    background-color: rgba(230, 220, 220, 0.6);
    border-radius: 25px;
    padding: 5px;
    transition: .5s;
}
.iconList li a:hover{
    background-color: gold;
}
.navbar-nav{
    margin-left: 50px;
}
.navbar-nav li a{
    font-size: 20px;
}

.container_ul{
    background-color: #F2F2F5;
    padding-top: 10px;
    padding-bottom: 1px;
}
.list2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list2 li button , select{
    background-color: white;
    border-radius: 300px;
    padding: 6px;
    border-color: white;
    transition: 0.2s;
    outline: none;
}
.list2 li button:hover{
    border-color: gold;
}
.list2 li select:hover{
    border-color: gold;
}
.list2 li .active{
    background-color: gold;
}

.row .card{
    padding: 0;
    border: none;
    margin-top: 10px;
    overflow: hidden;
}
.card img{
    width: 250px;
    height: 400px;
}

.card a{
    width: 60%;
    margin-top: 10px;
}

.card h4{
    transition: 1s;
}
.card h4:hover{
    color: red;
}


.slider{
    background-color: brown;
}    



.container_ul{
    background-color: #F2F2F5;
    padding: 1px;
}
.list{
    display: flex;
    justify-content: space-between;
}

.list li button , select{
    background-color: white;
    border-radius: 300px;
    padding: 6px;
    border-color: white;
    transition: 0.2s;
    outline: none;
}
.list li button:hover{
    border-color: gold;
}
.list li select:hover{
    border-color: gold;
}
.list li .active{
    background-color: gold;
}

.row .card{
    padding: 0;
    border: none;
    margin-top: 10px;
    display: inline-block;
    overflow: hidden;
}
.card img{
    width: 170px;
    height: 250px;
    display: block;
    transition: 0.5s;
}

.card a{
    width: 60%;
    margin-top: 10px;
}

.row_h1{
    padding: 0 8%;
}

.row_h1 button{
    margin-left: auto;
    border: none;
    background-color: white;
}

.card h5{
    transition: 1s;
}

.card h5:hover{
    color: red;
}

.bottom_container{
    display: flex;
    background-color: #660205;
    padding: 15px 5%;
    flex-wrap: wrap;
}
.bottom_img{
    width: 150px;
    height: 60px;
}
.img_right{
    margin-left: auto;
    margin-top: 15px;
}



.footer_list{
    display: flex;
    background-color: hsla(0, 67%, 12%, 0.993);
    padding-bottom: 15px;
}

.right_footer{
    margin-left: 50%;
}
.right_footer ul li{
    color: white;
}

.bottom_list li button{
    border: none;
    background-color: white;
    padding: 10px;
    color: black;
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 4%;
}
.bottom_list{
    margin-top: 50px;
}

.right_footer ul li p{
    color: gold;
}
.gold_h4{
    color: gold;
}

@media screen and (max-width:865px) {
    .bottom_list li button{
        display: none;
    }
}



.left_list li{
    padding: 5px ;
}
.left_list li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
}
.list_menu{
    margin-left: -30px;
}
.list_menu li a{
    color: gold;
    text-decoration: none;
    font-size: 17px;
    transition: .6s;
}
.list_menu li a:hover{
    color: white;
    text-decoration: underline;
}
.iconList_bottom{
    display: flex;
    justify-content: space-between;
}
.iconList_bottom li{
    padding: 0 10px;
}
.iconList_bottom li a{
    font-size: 25px;
    color: white;
    background-color: rgba(230, 220, 220, 0.6);
    border-radius: 25px;
    padding: 5px;
    transition: .5s;
}
.iconList_bottom li a:hover{
    color: gold;
}